<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8"/>
  <title>{{#if title}}{{title}} | {{/if}}Inventario MVC</title>
  <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
  {{> _navbar}}
  <div class="container">
    {{> _alertas}}
    {{{body}}}
  </div>
</body>
</html>
