<h1>Chat</h1>

<div id="chat">
  <div id="msgs"></div>

  <form id="fChat">
    <input id="texto" name="texto" placeholder="Escribe un mensaje..." autocomplete="off" />
    <button>Enviar</button>
  </form>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
